<%=render 'layouts/header', q: @q %>
<div class="container">
    <section class="row">
    	 <section class="col-sm-12 col-lg-12">
    	 	<div class="alert alert-warning text-center" role="alert">
    	 		<h2>退会が完了しました</h2>
    	 		<p>今までご利用いただき、誠にありがとうございました。<br>
		 		これからも是非、Road-Impressionをご利用くださいませ</p>
    	 	</div>
		 </section>
 </section>
</div>
<%= render "layouts/footer" %>