<%= render 'layouts/header',q: @q %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <h2>このサイトについて</h2>
      <p>Road-Impressiom -ロープレ-　へようこそ！<br>
      当サイトはロードバイクに興味のある方に向けてロードバイク大好きなローディーたちが乗っている愛車について<br>
      感想や評価を書きこむことができるサイトです。<br>
      <br>
      エントリーモデルからプロが使っているバイクまで、メーカー様ごとに様々な種類や特色があるロードバイク<br>
      でも、そのすべてを体感したり、すべてのバイクを購入するのはなかなか難しいですよね？<br>
      また、通勤通学やレース、長い距離を走るロングライドなど、使いたい場面も人によって異なると思います。<br>
      なにより、自分の乗っているバイクについて、たくさん語りたくありませんか？<br>
      乗った感想、使用場面、愛車のいいところ、余すところなくこのサイトに書き込んでください！<br>
      それを見た人が「楽しそう！」「買いたい！」と新しい仲間になってくれたり、自転車界隈を盛り上げてくれることが
      このサイトの一番の目的です。<br>
      きっとその感想がロードバイクを一番盛り上げてくれると思います！<br>
      皆様のたくさんのインプレッションをお待ちしています！<br>
      <div class="bike-style clearfix">
        <div class="ca race"></div>
        <div class="ca tooling"></div>
        <div class="ca arban"></div>
      </div>
      </p>
      <h3>このサイトの使い方</h3>
      <p>このサイトでは、会員でなくてもバイクの検索やインプレッションの閲覧ができます。<br>
      検索欄ではメーカー名やバイク名のほか、ジャンルやグレードでの検索も可能です。<br>
	  本サイトでは３つのジャンルと４つのグレードに分けています。<br>

	  ジャンルは<br>
      <b>・エアロ</b>（空力を意識したロードバイク。主にレース向き。)<br>
      <br>
      <b>・オールラウンド</b>（得意不得意があまりない万能バイク。）<br>
      <br>
      <b>・エンデュランス</b>（長距離走行に向いたロードバイク。）<br>
      <br>
	  グレードは<br>
	  <b>・エントリー</b>（初心者向け。 10～15万程度。）<br>
	  <br>
	  <b>・ミドル</b>（初級者～中級者向け。 20万～30万程度）<br>
	  <br>
	  <b>・ハイエンド</b>（中級者～上級者向け。 40万～70万程度）<br>
	  <br>
	  <b>・フラグシップ</b>（上級者・アスリート向け。プロ仕様。 80万以上）<br>
	  <br>

	  に分けています。おおよその参考としてください。<br>

	  会員登録をいただくことでインプレッションの投稿のほか、参考になった機能、メーカーやバイクのお気に入り機能が<br>
	  利用できます。<br>
	  ぜひ会員登録をして、ライダー同士の交流やお気に入りのバイクを登録するなど、全機能を使って楽しんでください！！</p><br>
	  <br>
	  <h3>サイト利用時のお願い</h3>
	  <p>このサイトを使う上で注意事項があります。<br>
	  	<h4>１、メーカー様やバイク、個人を誹謗中傷するようなインプレッションを書かない！</h4>
	  	このサイトは自転車界隈を盛り上げるためのものです。個人やメーカー様、バイクの誹謗中傷は絶対にやめてください。<br>
	  	自分の愛車がけなされるのは嫌ですよね？皆さん一緒だと思います。<br>
	  	<br>
	  	<h4>２、当サイトのコンテンツの無断転載・無断利用は一切禁止です！</h4>
	  	当サイトの画像はメーカー様や各代理店様に利用許諾申請をしたうえで掲載しています。そのため、著作権および商標権は各メーカー様や<br>
	  	代理店様にございます。<br>
        そのため、いかなる理由があろうとも当サイトのコンテンツの利用は私用・商用含めて一切禁止させていただきます。ご了承ください。<br>
        <br>
        ※万が一、著作権に抵触する場合や、利用に問題・疑義がある場合にはお知らせください。速やかに対処いたします。<br>
	  </p>
	  <br>
	  <br>
	  <br>
</div>
</div>
</div>

<%= render 'layouts/page-up' %>
<%= render "layouts/footer" %>