/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container1{
  height:500px;
}
.image1 {
  background-image: url(roadrace1.jpg);
}
.image2{
  background-image: url(roadbike1.jpg);
}
.image3{
  background-image: url(roadbike2.jpg);
}
.image4{
  background-image: url(roadbike3.jpg);
}
.image5{
  background-image: url(roadbike4.jpg);
}
.text-box{
  margin:50px auto;
}

.main-text{
  text-align: center;
  font-size:20px;
}
.index-title{
  border-top:3px solid #000;
  border-bottom: 3px solid #000;
  text-align:center;
  padding:10px 0;
}
.list{
  list-style:none;
}

.maker-logo {
  width: 150px;
  height:30px;
  margin: 20px;
  display: inline-block;
}
.giant {
  background-image: url(giant-logo2.png);
  background-size:100% 100%;
  background-position:center;
}
.merida {
  background-image: url(merida-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.trek {
  background-image: url(trek-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.cannondale {
  background-image: url(cannondale-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.specialized {
  background-image: url(specialized-logo.png);
  background-size:cover;
  background-position:center;
}
.pinarello {
  background-image: url(pinarello-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.bianchi {
  background-image: url(bianchi-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.colnago {
  background-image: url(colnago-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.derosa {
  background-image: url(derosa-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.wilier {
  background-image: url(wilier-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.bmc {
  background-image: url(bmc-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.cervelo {
  background-image: url(cervelo-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.ridley {
  background-image: url(ridley-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.look {
  background-image: url(look-logo.png);
  background-size:cover;
  background-position:center;
}
.time {
  background-image: url(time-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.scott {
  background-image: url(scott-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.lapierre {
  background-image: url(lapierre-logo.jpg);
  background-size:100% 100%;
  background-position:center;
}
.felt {
  background-image: url(felt-logo.png);
  background-size:100% 100%;
  background-position:center;
}
.corratec {
  background-image: url(corratec-logo.jpg);
  background-size:cover;
  background-position:center;
}
.canyon {
  background-image: url(canyon-logo.png);
  background-size:cover;
  background-position:center;
}

.bike{
  width:230px;
  height: 200px;
  margin: 10px;
  float:left;
}
.aero {
  background-image: url(venge-vias.jpg);
  background-size:cover;
  background-position:center;
}
.all-round {
  background-image: url(tarmac-expert.jpg);
  background-size:cover;
  background-position:center;
}
.endurance {
  background-image: url(rouvaix-sport.jpg);
  background-size:cover;
  background-position:center;
}

#back{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img{
  width:50px;
}
.image_size{
	display: block;
    margin: 50px;
}