<footer>
    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center text-white" style="background-color: gray;">
        <h3>Have a Good Ride !!</h3>
      </div>
    </div>
</footer>
