<footer>
    <div class="row">
      <div class="col-sm-12 col-lg-12 text-center text-white" style="background-color: gray;">
        <h3>Have a Good Ride !!</h3>
        <p>©Road-Impression.</p>
        <p>当サイトのすべてのコンテンツ・画像の無断利用を固く禁止致します。</p>
        <div class="text-center">
          <%= link_to "利用規約", terms_of_service_path, class:"about" %>
          <%= link_to "プライバシーポリシー", privacy_policy_path, class:"about" %>
          <%= link_to "お問い合わせ", new_contact_path, class:"about "%>
      </div>
    </div>
</footer>
